# Amazon Fine Food Reviews Analysis

Data source : https://www.kaggle.com/snap/amazon-fine-food-reviews

The Amazon Fine Food Reviews dataset consists of reviews of fine foods from Amazon.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import sqlite3

In [2]:
# Using the SQLite Table to read data.
con = sqlite3.connect('database.sqlite')

# Filtering only positive and negative reviews i.e. not taking
# into consideration those reviews whose score = 3
filtered_data = pd.read_sql_query('select * from reviews where score != 3 limit 100000', con)

print('Number of datapoints in our data {}'.format(filtered_data.shape))
filtered_data.head()

Number of datapoints in our data (100000, 10)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [3]:
# Give reviews with a score > 3 a positive rating,
# and reviews with a score < 3 a negative rating
def partition(x):
    if x < 3:
        return 0
    return 1

actualScore = filtered_data['Score']
positiveNegative = actualScore.map(partition)
filtered_data['Score'] = positiveNegative
filtered_data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,1,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,0,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,1,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,0,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,1,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [4]:
# Sorting data according to ProductId in ascending order
sorted_data = filtered_data.sort_values('ProductId', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [5]:
# Deduplication of entries
final = filtered_data.drop_duplicates(subset={"UserId", "ProfileName", "Time", "Text"}, keep='first', inplace=False)
final.shape

(87775, 10)

In [6]:
# Checking to see how much % of data still remains
(final.size / filtered_data.size) * 100

87.775

<b>Observation : </b>It was also seen that in two rows given below the value of HelpfulnessNumerator is greater than HelpfulnessDenominator which is not practically possible hence these two rows too are removed from calculations.

In [7]:
final[final['HelpfulnessNumerator'] > final['HelpfulnessDenominator']]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
41159,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,1,1212883200,Pure cocoa taste with crunchy almonds inside,It was almost a 'love at first bite' - the per...
59301,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,1,1224892800,Bought This for My Son at College,My son loves spaghetti so I didn't hesitate or...

In [8]:
final = final[final['HelpfulnessNumerator'] <= final['HelpfulnessDenominator']]

In [9]:
# Before starting the next phase of preprocessing lets see the number of entries left
print(final.shape)

# How many positive and negative reviews are present in our dataset ?
final['Score'].value_counts()

(87773, 10)

1    73592
0    14181
Name: Score, dtype: int64

## Text Preprocessing: Stemming, stop-word removal and Lemmatization

Now that we have finished deduplication our data requires some preprocessing before we go on further with analysis
and making the prediction model.

Hence in Preprocessing phase we do following in the order below:-

1. Begin by removing html tags
2. Remove any punctuations or limited set of special characters like , or . or # etc.
3. Check if the word is made up of english letters and is not alpha-numeric.
4. Check to see if the length of the word is greater than 2 (as it was researched that there is no adjective in 2-letters)
5. Convert the word to lowercase.
6. Remove Stopwords.
7. Finally Snowball stemming the word (it was observed to be better than Porter Stemming)

After which we collect the words used to describe positive and negative reviews.

In [10]:
# finding sentences containing HTML tags
import re
i = 0
for sent in final['Text'].values:
    if len(re.findall('<.*?>', sent)) > 0:
        print(i)
        print(sent)
        break
    i += 1

10
I don't know if it's the cactus or the tequila or just the unique combination of ingredients, but the flavour of this hot sauce makes it one of a kind!  We picked up a bottle once on a trip we were on and brought it back home with us and were totally blown away!  When we realized that we simply couldn't find it anywhere in our city we were bummed.<br /><br />Now, because of the magic of the internet, we have a case of the sauce and are ecstatic because of it.<br /><br />If you love hot sauce..I mean really love hot sauce, but don't want a sauce that tastelessly burns your throat, grab a bottle of Tequila Picante Gourmet de Inclan.  Just realize that once you taste it, you will never want to use any other sauce.<br /><br />Thank you for the personal, incredible service!

In [14]:
# defining some helper functions for text preprocessing
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

stop = set(stopwords.words('english')) # set of stopwords
sno = SnowballStemmer('english') # initialising the snowball stemmer

def cleanhtml(sentence): # function to clean html tags from sentence
    tag = re.compile('<.*?>')
    clean_sentence = re.sub(tag, ' ', sentence)
    return clean_sentence

def cleanpunc(sentence): # function to clean the sentence from any punctuation or special characters
    clean_sentence = re.sub(r'[?|!|\'|"|#]', r'', sentence)
    clean_sentence = re.sub(r'[.|,|)|(|\|/]', r' ', clean_sentence)
    return clean_sentence

In [18]:
print(stop)
print('***************************************************')
print(sno.stem('tasty'))

{'or', 'if', 'until', 'more', 'some', 'been', 'those', 'at', 'her', "doesn't", 'hers', 'did', 'not', 'very', 'won', 'o', 'only', 'him', "she's", 'under', 'didn', 'm', 'i', 'does', 'why', 'out', 'they', 'themselves', "you'd", 'himself', 'about', 'aren', 'ma', "shan't", 'our', "haven't", 'no', 'am', 'by', 'both', 'yourselves', 'same', "aren't", 'in', 'when', 'do', 'from', "wouldn't", 'couldn', "mightn't", 'nor', 'it', 'between', "weren't", 'you', "you've", 'of', 'your', 'has', 'such', 'too', "won't", 'yourself', 'ourselves', 'my', 'a', 'herself', "that'll", 'again', 'weren', 'few', 'needn', 'we', 'wouldn', 'being', "mustn't", 'the', "hadn't", "shouldn't", 'most', "should've", 've', 'hadn', 'how', 'now', 'hasn', "hasn't", 'other', "isn't", 'here', 'was', "wasn't", 'itself', 'where', 'is', 'against', 'whom', 'so', 'who', 'y', 'for', 'after', 'mightn', 'any', 'which', "needn't", 'doing', 'then', 'theirs', 'that', 'through', 'what', 'yours', 'to', 'wasn', 'me', 'their', 'having', 'with', 'should', 'as', 'down', 'further', 'on', 'she', 'into', 'once', 'own', 'don', 'have', 'were', 'below', 'them', 't', "couldn't", 'just', 's', 'over', 'shouldn', 'can', 'd', 'will', "it's", "you'll", 'doesn', 'isn', 'an', 're', 'mustn', 'during', 'and', 'ours', 'he', 'this', 'there', 'll', 'because', 'before', 'above', 'myself', 'up', 'but', 'each', "didn't", 'his', 'ain', 'are', 'these', 'all', 'while', 'shan', "you're", 'its', 'had', 'than', 'off', "don't", 'be', 'haven'}
***************************************************
tasti